@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(230, 222, 198);
  background: radial-gradient(circle, rgb(230, 222, 198) 31%, rgb(154, 128, 111) 100%);
}

.header {
  height: 35vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

h1 {
  font-family: "Fredericka the Great", serif;
  font-size: 80px;
}

.options-bar {
  height: 52px;
  display: flex;
}

.btns-container {
  margin-left: 4vw;
  padding-left: 8px;
  display: flex;
  flex-direction: row;
}

.error-messages {
  margin-left: 5%;
  display: flex;
  align-items: center;
  color: rgb(145, 29, 29);
}

.radio__input {
  display: none;
}

.radio__label {
  padding: 8px 7px;
  display: flex;
  align-items: center;
  font-family: "Average Sans", sans-serif;
}

.radio__label:hover {
  background-color: rgba(231, 225, 219, 0.5450980392);
}

.radio__input:checked + .radio__label {
  background-color: rgba(228, 220, 212, 0.8705882353);
  border-bottom: 2px solid #6e6255;
  color: #6e6255;
  font-weight: bold;
}

.translations-container {
  display: flex;
  justify-content: space-evenly;
  height: 180px;
  margin: 15px 0px;
}

.textarea {
  border-radius: 8px;
  outline: none;
  min-height: 100%;
  width: 45vw;
  margin-left: 3vw;
  padding: 15px;
  font-family: "Rosario", sans-serif;
  font-size: larger;
  font-weight: bold;
  background-color: rgba(54, 22, 10, 0);
  border: 1px solid #2c0e03;
  resize: none;
}

::placeholder {
  color: black;
  opacity: 1;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.output-field {
  margin-right: 3vw;
  width: 45vw;
  height: 100%;
  border: 1px solid #6e6255;
  border-radius: 8px;
  padding: 15px;
}
.output-field p {
  font-size: larger;
  font-weight: bold;
  font-family: "Rosario", sans-serif;
}

.translate-btn {
  height: 20px;
}

.below-translations-container {
  height: 150px;
}
